html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}



#window
{
    left: 100px;
    top: 100px;
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    margin: 0px;
    border: 1px solid black;
    padding: 5px 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}
/*верхняя часть*/
#top
{
    width: 100%;
    height: 5px; overflow: hidden;
    margin-top: -5px;
    padding: 0px 5px;
    position: relative;
    /*background: lightgreen;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
}
#top-left
{
    width: 5px;
    height: 100%;
    margin-left: -5px;
    float:left;
    position: relative;
    cursor: nw-resize;
    background: red;
    background: rgba(255,127,127,0.7);
    /*opacity:0.7;
    filter: alpha(opacity=70);*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 3;
}
#top-center
{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: n-resize;
    background: yellow;
    background: rgba(255,255,127,0.7);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 3;
}
#top-right
{
    width: 5px;
    height: 100%;
    margin-right: -5px;
    float:right;
    position: relative;
    cursor: ne-resize;
    background: red;
    background: rgba(255,127,127,0.7);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 3;
}
/*средняя часть*/
#center
{
    width: 100%;
    height: 100%;
    padding: 0px 5px;
    position: relative;
    /*background: lightgreen;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
}
#center-left
{
    width: 5px;
    height: 100%;
    margin-left: -5px;
    float:left;
    position: relative;
    cursor: w-resize;
    background: yellow;
    background: rgba(255,255,127,0.7);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 3;
}
#center-center
{
    width: 100%;
    height: 100%;
    --padding-top: 20px;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 3;
}
#center-right
{
    width: 5px;
    height: 100%;
    margin-right: -5px;
    float:right;
    position: relative;
    cursor: e-resize;
    background: yellow;
    background: rgba(255,255,127,0.7);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 3;
}
/*нижняя часть*/
#bottom
{
    width: 100%;
    height: 5px; overflow: hidden;
    margin-bottom: -5px;
    padding: 0px 5px;
    position: relative;
    /*background: lightgreen;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
}
#bottom-left
{
    width: 5px;
    height: 100%;
    margin-left: -5px;
    float:left;
    position: relative;
    cursor: sw-resize;
    background: red;
    background: rgba(255,127,127,0.7);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 3;
}
#bottom-center
{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: s-resize;
    background: yellow;
    background: rgba(255,255,127,0.7);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 3;
}
#bottom-right
{
    width: 5px;
    height: 100%;
    margin-right: -5px;
    float:right;
    position: relative;
    cursor: se-resize;
    background: red;
    background: rgba(255,127,127,0.7);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 3;
}

/*контент*/
#header
{
    width: 100%;
    height: 20px;
    margin-top: -20px;
    background: green;
    background: rgba(127,255,127,0.7);
    padding-left: 20px;
    font-weight: bold;
    cursor: move;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index:3;
}
#header:hover
{
    background: rgba(255,255,255,0.8);
}
#content
{
    width: 100%;
    height: 100%;
    --background: aquamarine;
    background: rgba(127,255,127,0.3);
    position: relative;
    padding: 10px;
    overflow: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index:3;
}